.App {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px; /* Height of the footer */
  }
  
  .content {
    padding-bottom: 60px; /* Ensure content is above the footer */
  }
  